@page "/"
@using MudBlazor
@using Website.Components.Layout
@inject NavigationManager Nav

<PageTitle>Home</PageTitle>
<div>
	<button @onclick="GoToSubscription">Aller à l'abonnement</button>
	<NavLink href="/subscription/netflix">Netflix</NavLink>

	<div style="    border: inset;
    padding-bottom: 130px; margin:75px ">
		<div class="home-display" style="  color: #ffffff;
  text-align: left;
  font-family: 'BricolageGrotesque-Bold'', sans-serif;
         font-size: 20px;
         line-height: 73px;
         letter-spacing: 0.01em;
         font-weight: 700;
         display: flex;
         align-items: center;
         justify-content: flex-start; font-size: 25px;">
			<img src="/images/get-revenue0.png" style="margin-right: 10px;">
			Payez moins, profitez plus!
		</div>
		<div class="home-display" style="    margin: 40px 0px 35px 0px;">
			<span style="  color: #ffffff;
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.01em;
  font-weight: 700;">
				Vos abonnements et logiciels aux
			</span>
			<span style="  background: linear-gradient(
    180deg,
    rgba(93, 52, 197, 1) 1.9999999552965164%,
    rgba(147, 130, 229, 1) 50.30980706214905%,
    rgba(93, 52, 197, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'BricolageGrotesque-Bold', sans-serif;
              font-size: 60px;
              line-height: 73px;
              letter-spacing: 0.01em;
              font-weight: 700;">meilleurs</span>
			<span style="  color: #ffffff;
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.01em;
  font-weight: 700;">
				prix
				<br />
			</span>
		</div>
		<div>
			<div style="  text-align: left;
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.01em;
  font-weight: 700;">
			</div>
			<div class="home-display" style="  text-align: left;
  font-family: 'HostGrotesk-Regular', sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;">
				<span>
					<span style="  color: #ffffff;
  font-family: 'HostGrotesk-Regular', sans-serif;
					  font-size: 20px;
					  line-height: 27px;
					  font-weight: 400;">
						Accédez
					</span>
					<span style="  color: #b5a8ed;
  font-family: 'HostGrotesk-Regular', sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;">
						facilement
					</span>
					<span style="  color: #ffffff;
  font-family: 'HostGrotesk-Regular', sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;">
						à vos services préférés à prix
					</span>
					<span style="  color: #b5a8ed;
  font-family: 'HostGrotesk-Regular', sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;">
						réduits
					</span>
					<span style="  color: #ffffff;
  font-family: 'HostGrotesk-Regular', sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;">
						grâce a
					</span>
					<span style="  color: #b5a8ed;
  font-family: 'HostGrotesk-Regular', sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;">
						SavePass
					</span>
					<span style="  color: #ffffff;
  font-family: 'HostGrotesk-Regular', sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;">
						!
					</span>
				</span>
			</div>
			<div class="home-display" style="margin: 20px 0px 20px 0px;">
				<div class="frame-crypto">
					<span style="color: #ffffff;
    text-align: center;
    font-family: 'Inter-Regular', sans-serif;
				  font-size: 12px;
				  line-height: 95%;
				  letter-spacing: -0.03em;
				  font-weight: 400;">We also accept cryptos</span>
					<img class="img-crypto" src="/images/cry1.png" />
					<img class="img-crypto" src="/images/cry2.png" />
					<img class="img-crypto" src="/images/cry3.png" />
					<img class="img-crypto" src="/images/cry4.png" />
				</div>
			</div>
		</div>
	</div>
	<div class="center-line"></div>

		<div style="    place-items: center;">
			<span style="font-family: 'BricolageGrotesque-Bold', sans-serif;
    font-size: 40px;
    line-height: 75px;
    font-weight: 700;
    color: white;">Tendances</span>
			<BlazorSlickCarousel @ref="theCarousel" Configurations="configurations">
				<BlazorSlickCarouselContent>
					<div>
						<div>Test 1</div>
					</div>
					<div>
						<div>Test 2</div>
					</div>
					<div>
						<div>Test 3</div>
					</div>
				</BlazorSlickCarouselContent>
			</BlazorSlickCarousel>
		<div class="carousels-container">
			<BrandCarousel Category="Tendances" Title="Les Tendances" />
			<BrandCarousel Category="Audio" Title="Audio" />
			<BrandCarousel Category="VOD" Title="VOD" />
			<BrandCarousel Category="Gaming" Title="Gaming" />
		</div>
	</div>
	@* <div class="ellipse-21989"></div>
	<div class="ellipse-21990"></div>
	<div class="ellipse-21992"></div>
	<div class="rectangle-321"></div>
	<div class="rectangle-322"></div>
	<div class="rectangle-324"></div>
	<div class="rectangle-323"></div>
	<img class="image-3" src="image-30.png" />
	<img class="image-4" src="image-40.png" />
	<div class="rectangle-278"></div>
	<div class="rectangle-279"></div>
	<div class="rectangle-280"></div>
	<div class="rectangle-281"></div>
	<div class="rectangle-2812"></div>
	<div class="rectangle-282"></div>
	<img class="chevron-right" src="chevron-right0.png" />
	<div class="rectangle-3222"></div>
	<div class="rectangle-3242"></div>
	<div class="rectangle-3232"></div>
	<div class="svod">
		svod
		<br />
	</div>
	<div class="rectangle-2782"></div>
	<div class="rectangle-2792"></div>
	<div class="rectangle-2802"></div>
	<div class="rectangle-2813"></div>
	<div class="rectangle-2814"></div>
	<div class="rectangle-2822"></div>
	<img class="chevron-right2" src="chevron-right1.png" />
	<div class="rectangle-3223"></div>
	<div class="rectangle-3243"></div>
	<div class="rectangle-3233"></div>
	<div class="svod2">
		svod
		<br />
	</div>
	<div class="rectangle-2783"></div>
	<div class="rectangle-2793"></div>
	<div class="rectangle-2803"></div>
	<div class="rectangle-2815"></div>
	<div class="rectangle-2816"></div>
	<div class="rectangle-2823"></div>
	<img class="chevron-right3" src="chevron-right2.png" />
	<div class="rectangle-3224"></div>
	<div class="rectangle-3244"></div>
	<div class="rectangle-3234"></div>
	<div class="svod3">
		svod
		<br />
	</div>
	<div class="rectangle-2784"></div>
	<div class="rectangle-2794"></div>
	<div class="rectangle-2804"></div>
	<div class="rectangle-2817"></div>
	<div class="rectangle-2818"></div>
	<div class="rectangle-2824"></div>
	<img class="chevron-right4" src="chevron-right3.png" />
	<div class="rectangle-3225"></div>
	<div class="rectangle-3245"></div>
	<div class="rectangle-3235"></div>
	<div class="svod4">
		svod
		<br />
	</div>
	<div class="rectangle-2785"></div>
	<div class="rectangle-2795"></div>
	<div class="rectangle-2805"></div>
	<div class="rectangle-2819"></div>
	<div class="rectangle-28110"></div>
	<div class="rectangle-2825"></div>
	<img class="chevron-right5" src="chevron-right4.png" />
	<div class="rectangle-3226"></div>
	<div class="rectangle-3246"></div>
	<div class="rectangle-3236"></div>
	<div class="svod5">
		svod
		<br />
	</div>
	<div class="rectangle-2786"></div>
	<div class="rectangle-2796"></div>
	<div class="rectangle-2806"></div>
	<div class="rectangle-28111"></div>
	<div class="rectangle-28112"></div>
	<div class="rectangle-2826"></div>
	<img class="chevron-right6" src="chevron-right5.png" />
	<div class="rectangle-3227"></div>
	<div class="rectangle-3247"></div>
	<div class="rectangle-3237"></div>
	<div class="svod6">
		svod
		<br />
	</div>
	<div class="rectangle-2787"></div>
	<div class="rectangle-2797"></div>
	<div class="rectangle-2807"></div>
	<div class="rectangle-28113"></div>
	<div class="rectangle-28114"></div>
	<div class="rectangle-2827"></div>
	<img class="chevron-right7" src="chevron-right6.png" />
	<div class="rectangle-119"></div>
	<div class="svod7">svod</div>
	<div class="rectangle-120"></div>
	<div class="musique">Musique</div>
	<div class="rectangle-121"></div>
	<div class="s-curit">Sécurité</div>
	<div class="rectangle-122"></div>
	<div class="jeux-vid-os">Jeux Vidéos</div>
	<div class="rectangle-123"></div>
	<div class="logiciel">Logiciel</div>
	<div class="rectangle-124"></div>
	<div class="lecture">Lecture</div>
	<div class="rectangle-125"></div>
	<div class="cloud">Cloud</div>
	<div class="rectangle-126"></div>
	<div class="bien-tre">Bien être</div>
	<div class="rectangle-127"></div>
	<div class="ducation">Éducation</div>
	<div class="line-12"></div>
	<div class="line-14"></div>
	<img class="star-1" src="star-10.svg" />
	<div class="line-1"></div>
	<img class="star-2" src="star-20.svg" />
	<div class="line-2"></div>
	<div class="line-11"></div>
	<div class="line-15"></div>
	<div class="line-3"></div>
	<img class="star-12" src="star-11.svg" />
	<div class="line-13"></div>
	<img class="star-22" src="star-21.svg" />
	<div class="line-22"></div>
	<div class="frame-7">
		<div class="become-a-partner">Become a partner</div>
		<div class="careers">Careers</div>
		<div class="support">Support</div>
		<div class="programs">Programs</div>
		<div class="about-us">About Us</div>
	</div>
	<img class="swift" src="swift0.png" />
	<img class="mask-group" src="mask-group0.svg" />
	<div class="rectangle-325"></div>
	<img class="up-left" src="up-left0.png" />
	<div class="suo-diutius-sumus-sunt-in-et-non-quidem-intractato-quae-quin-quam-illae-res-et">
		Suo diutius sumus sunt in et non quidem intractato quae quin quam illae res
		et.
	</div>
	<div class="line-7"></div>
	<img class="up-left2" src="up-left1.png" />
	<div class="suo-diutius-sumus-sunt-in-et-non-quidem-intractato-quae-quin-quam-illae-res-et2">
		Suo diutius sumus sunt in et non quidem intractato quae quin quam illae res
		et.
	</div>
	<div class="line-72"></div>
	<img class="up-left3" src="up-left2.png" />
	<div class="suo-diutius-sumus-sunt-in-et-non-quidem-intractato-quae-quin-quam-illae-res-et3">
		Suo diutius sumus sunt in et non quidem intractato quae quin quam illae res
		et.
	</div>
	<div class="line-73"></div>
	<img class="up-left4" src="up-left3.png" />
	<div class="suo-diutius-sumus-sunt-in-et-non-quidem-intractato-quae-quin-quam-illae-res-et4">
		Suo diutius sumus sunt in et non quidem intractato quae quin quam illae res
		et.
	</div>
	<div class="line-74"></div>
	<img class="up-left5" src="up-left4.png" />
	<div class="suo-diutius-sumus-sunt-in-et-non-quidem-intractato-quae-quin-quam-illae-res-et5">
		Suo diutius sumus sunt in et non quidem intractato quae quin quam illae res
		et.
	</div>
	<img class="image-7" src="image-70.png" />
	<div class="hero-text">FAQ</div>
	<div class="save-pass">Save Pass</div>
	<img class="rectangle-329" src="rectangle-3290.svg" />
	<div class="ce-que-nos-clients-en-pensent">Ce que nos clients en pensent</div>
	<div class="comment-save-pass-fonctionne">Comment Save Pass fonctionne?</div>
	<div class="inter-quos-paulus-eminebat-notarius-ortus-in-hispania-glabro-quidam-sub-vultu-latens-odorandi-vias-periculorum-occultas-perquam-sagax-is-in-brittanniam-missus-ut-militares-quosdam-perduceret-ausos-conspirasse-magnentio-cum-reniti-non-possent-iussa-licentius-supergressus-fluminis-modo-fortunis-conplurium-sese-repentinus">
		Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub
		vultu latens, odorandi vias periculorum occultas perquam sagax. is in
		Brittanniam missus ut militares quosdam perduceret ausos conspirasse
		Magnentio, cum reniti non possent, iussa licentius supergressus fluminis
		modo fortunis conplurium sese repentinus
	</div>
	<div class="rectangle-337"></div>
	<div class="rectangle-338"></div>
	<div class="rectangle-339"></div>
	<div class="ellipse-21998"></div>
	<div class="ellipse-21999"></div>
	<div class="rectangle-340"></div>
	<img class="star-6" src="star-60.svg" />
	<img class="star-7" src="star-70.svg" />
	<img class="star-8" src="star-80.svg" />
	<img class="star-9" src="star-90.svg" />
	<img class="star-10" src="star-100.svg" />
	<div class="super-conomies">Super économies</div>
	<div class="inter-quos-paulus-eminebat-notarius-ortus-in-hispania-glabro-quidam-sub-vultu-latens-odorandi-vias-periculorum-occultas-perquam-sagax-is-in-brittanniam-missus-ut-militares-quosdam-perduceret-ausos-conspirasse-magnentio-cum-reniti-non-possent">
		Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub
		vultu latens, odorandi vias periculorum occultas perquam sagax. is in
		Brittanniam missus ut militares quosdam perduceret ausos conspirasse
		Magnentio, cum reniti non possent,
	</div>
	<div class="o-tolga">O. Tolga</div>
	<div class="ellipse-219982"></div>
	<div class="ellipse-219992"></div>
	<div class="rectangle-3402"></div>
	<img class="star-62" src="star-61.svg" />
	<img class="star-72" src="star-71.svg" />
	<img class="star-82" src="star-81.svg" />
	<img class="star-92" src="star-91.svg" />
	<img class="star-102" src="star-101.svg" />
	<div class="super-conomies2">Super économies</div>
	<div class="inter-quos-paulus-eminebat-notarius-ortus-in-hispania-glabro-quidam-sub-vultu-latens-odorandi-vias-periculorum-occultas-perquam-sagax-is-in-brittanniam-missus-ut-militares-quosdam-perduceret-ausos-conspirasse-magnentio-cum-reniti-non-possent2">
		Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub
		vultu latens, odorandi vias periculorum occultas perquam sagax. is in
		Brittanniam missus ut militares quosdam perduceret ausos conspirasse
		Magnentio, cum reniti non possent,
	</div>
	<div class="o-tolga2">O. Tolga</div>
	<div class="ellipse-219983"></div>
	<div class="ellipse-219993"></div>
	<div class="rectangle-3403"></div>
	<img class="star-63" src="star-62.svg" />
	<img class="star-73" src="star-72.svg" />
	<img class="star-83" src="star-82.svg" />
	<img class="star-93" src="star-92.svg" />
	<img class="star-103" src="star-102.svg" />
	<div class="super-conomies3">Super économies</div>
	<div class="inter-quos-paulus-eminebat-notarius-ortus-in-hispania-glabro-quidam-sub-vultu-latens-odorandi-vias-periculorum-occultas-perquam-sagax-is-in-brittanniam-missus-ut-militares-quosdam-perduceret-ausos-conspirasse-magnentio-cum-reniti-non-possent3">
		Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub
		vultu latens, odorandi vias periculorum occultas perquam sagax. is in
		Brittanniam missus ut militares quosdam perduceret ausos conspirasse
		Magnentio, cum reniti non possent,
	</div>
	<div class="o-tolga3">O. Tolga</div>
	<div class="ellipse-219984"></div>
	<div class="ellipse-219994"></div>
	<div class="rectangle-3404"></div>
	<img class="star-64" src="star-63.svg" />
	<img class="star-74" src="star-73.svg" />
	<img class="star-84" src="star-83.svg" />
	<img class="star-94" src="star-93.svg" />
	<img class="star-104" src="star-103.svg" />
	<div class="super-conomies4">Super économies</div>
	<div class="inter-quos-paulus-eminebat-notarius-ortus-in-hispania-glabro-quidam-sub-vultu-latens-odorandi-vias-periculorum-occultas-perquam-sagax-is-in-brittanniam-missus-ut-militares-quosdam-perduceret-ausos-conspirasse-magnentio-cum-reniti-non-possent4">
		Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub
		vultu latens, odorandi vias periculorum occultas perquam sagax. is in
		Brittanniam missus ut militares quosdam perduceret ausos conspirasse
		Magnentio, cum reniti non possent,
	</div>
	<div class="o-tolga4">O. Tolga</div>
	<div class="ellipse-219985"></div>
	<div class="ellipse-219995"></div>
	<div class="rectangle-3405"></div>
	<img class="star-65" src="star-64.svg" />
	<img class="star-75" src="star-74.svg" />
	<img class="star-85" src="star-84.svg" />
	<img class="star-95" src="star-94.svg" />
	<img class="star-105" src="star-104.svg" />
	<div class="super-conomies5">Super économies</div>
	<div class="inter-quos-paulus-eminebat-notarius-ortus-in-hispania-glabro-quidam-sub-vultu-latens-odorandi-vias-periculorum-occultas-perquam-sagax-is-in-brittanniam-missus-ut-militares-quosdam-perduceret-ausos-conspirasse-magnentio-cum-reniti-non-possent5">
		Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub
		vultu latens, odorandi vias periculorum occultas perquam sagax. is in
		Brittanniam missus ut militares quosdam perduceret ausos conspirasse
		Magnentio, cum reniti non possent,
	</div>
	<div class="o-tolga5">O. Tolga</div>
	<div class="ellipse-219986"></div>
	<div class="ellipse-219996"></div>
	<div class="rectangle-3406"></div>
	<img class="star-66" src="star-65.svg" />
	<img class="star-76" src="star-75.svg" />
	<img class="star-86" src="star-85.svg" />
	<img class="star-96" src="star-95.svg" />
	<img class="star-106" src="star-105.svg" />
	<div class="super-conomies6">Super économies</div>
	<div class="inter-quos-paulus-eminebat-notarius-ortus-in-hispania-glabro-quidam-sub-vultu-latens-odorandi-vias-periculorum-occultas">
		Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub
		vultu latens, odorandi vias periculorum occultas
	</div>
	<div class="o-tolga6">O. Tolga</div>
	<img class="vector-89" src="vector-890.svg" />
	<img class="vector-90" src="vector-900.svg" /> *@
</div>
@code {
	public BlazorSlickCarousel theCarousel;
	public WMBSCInitialSettings configurations;

	void GoToSubscription()
    {
        Nav.NavigateTo("/subscription/netflix");
    }

	protected override void OnInitialized()
	{
		// to <= 800px screen
		WMBSCSettings breakpoint800Settings = new WMBSCSettings
			{
				slidesToShow = 2,
				arrows = true,
				dots = true
			};
		WMBSCResponsiveSettings breakpoint800Responsive = new WMBSCResponsiveSettings
			{
				breakpoint = 800,
				settings = breakpoint800Settings
			};

		// to <= 400px screen
		WMBSCSettings breakpoint400Settings = new WMBSCSettings
			{
				slidesToShow = 1,
				arrows = true
			};
		WMBSCResponsiveSettings breakpoint400Responsive = new WMBSCResponsiveSettings
			{
				breakpoint = 400,
				settings = breakpoint400Settings
			};

		// add responsivity
		List<WMBSCResponsiveSettings> responsiveSettingsList = new List<WMBSCResponsiveSettings>();
		responsiveSettingsList.Add(breakpoint800Responsive);
		responsiveSettingsList.Add(breakpoint400Responsive);

		// the carousel configurations
		configurations = new WMBSCInitialSettings
			{
				arrows = true,
				dots = true,
				slidesToShow = 3,
				slidesToScroll = 3,
				infinite = true,
				responsive = responsiveSettingsList
			};
	}
}